<html style="font-weight:100">
  <head>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  </head>

  <body style="font-family:Raleway">
    <h1>codon</h1>
    <img style="height:30px;display:inline;" src="https://codon.network/static/images/favicon.png">
    <br><br>

    <h3>
      To reset your password, please visit the following link:
      {{ url }}
      <br>
      If you did not make this request, simply ignore this email..
      <br>
      This link will expire in 30 minutes.
    </h3>
  </body>
</html>
