{% extends "layout_nonav.html" %}
{% block body_content %}

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="row contents">
    <div class="twelve columns">
      <h3>Contents</h3>
      <ul>
        <li><a href="">Item #1</a></li>
        <li><a href="">Item #1</a></li>
        <li><a href="">Item #1</a></li>
        <li><a href="">Item #1</a></li>
        <li><a href="">Item #1</a></li>
      </ul>
    </div>
  </div>

{% endblock body_content %}
