<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% extends "layout_nonav.html" %}
    {% block body_content %}
    <div class="row">
      <div class="form six columns offset-by-three">
        <form action="" method="post" id="payment-form">
          <div class="form-row">
            <label for="card-element">
              Credit or debit card
            </label>
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>
              <!-- Used to display Element errors. -->
            <div id="card-errors" role="alert"></div>
            <label for="billing-info">
              Billing info
            </label>
            <div>
              {{ form.card_name.label(style="font-size:18px;") }}
              {% if form.card_name.errors %}
                {{ form.card_name(style="border-color:#f55f5f;") }}
                <div>
                  {% for error in form.card_name.errors %}
                    <span id="error">{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.card_name(class="u-full-width") }}
              {% endif %}
            </div>
            <div>
              {{ form.address.label(style="font-size:18px;") }}
              {% if form.address.errors %}
                {{ form.address(style="border-color:#f55f5f;") }}
                <div>
                  {% for error in form.address.errors %}
                    <span id="error">{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.address }}
              {% endif %}
            </div>
            <div style="margin-left:0px;" class="six columns">
              {{ form.city.label(style="font-size:18px;") }}
              {% if form.city.errors %}
                {{ form.city(style="border-color:#f55f5f;") }}
                <div>
                  {% for error in form.city.errors %}
                    <span id="error">{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.city(class="u-full-width") }}
              {% endif %}
            </div>
            <div style="margin-left: 0px;" class="six columns">
              {{ form.province.label(style="font-size:18px;") }}
              {% if form.province.errors %}
                {{ form.province(style="border-color:#f55f5f;") }}
                <div>
                  {% for error in form.province.errors %}
                    <span id="error">{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.province(class="u-full-width") }}
              {% endif %}
            </div>
            <div style="margin-left: 0px;" class="twelve columns">
              {{ form.country.label(style="font-size:18px;") }}
              {% if form.country.errors %}
                {{ form.country(style="border-color:#f55f5f;") }}
                <div>
                  {% for error in form.country.errors %}
                    <span id="error">{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.country(class="u-full-width") }}
              {% endif %}
            </div>
          </div>
          <button title="Add card to your account">Add card</button>
          {{ form.card_token(type="hidden") }}
        </form>
      </div>
    </div>

{% endblock body_content %}
