{% extends "layout_nav.html" %}
{% block body_content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class="four columns trending_bar">
        <h3 style="text-align:center">Trending projects this week</h3>
        {% if trending_projects %}
          <ol>
            {% for project in trending_projects %}
              <li style="font-size:20px;">{% if current_user.is_authenticated %}
                <i title="Give a tube to '{{ project.project_title }}'" style="margin-left:20px;" user_id="{{ user_id }}" project_id="{{ project.id }}" class="fas fa-vial {{ toggle_colour(project.id, user_id) }}"></i>
              {% else %}
                <a href="{{ url_for("users.login") }}"><i user_id="{{ user_id }}" project_id="{{ project.id }}" class="fas fa-vial {{ toggle_colour(project.id, user_id) }}"></i></a>
              {% endif %}
              <span style="margin-right:20px;" class="{{ toggle_colour(project.id, user_id) }}">{{ tube_count(project.id) }}</span>
              <a href="{{ url_for("projects.project", project_id = project.id) }}">{{ project.project_title }}</a>
              <br>
              {% if project.author.fundraiser_id and project.donations_goal %}
                <div style="margin-left:20%;" id="fundraiser_circle">
                  {% if (((project.donations_amount / project.donations_goal) * 100) | int) > 100 %}
                    <div style="width:100%;border-radius:50%;" id="inner_circle"></div>
                  {% else %}
                    <div style="width:{{ ((project.donations_amount / project.donations_goal) * 100) | int }}%" id="inner_circle"></div>
                  {% endif %}
                </div>
                <span style="color:#46813A;font-size:14px;">{{ ((project.donations_amount / project.donations_goal) * 100) | int }}% funded</span>
              {% endif %}
              </li>
            {% endfor %}
          </ol>
        {% else %}
          <br>
          <p style="color:grey;text-align:center">No projects posted this week</p>
        {% endif %}
      </div>

    <div class="seven columns">
      {% for project in projects.items %}
        <div class="twelve columns browse_project">
          <div class="one column vials">
            {% if current_user.is_authenticated %}
              <i title="Give a tube to '{{ project.project_title }}'" user_id="{{ user_id }}" project_id="{{ project.id }}" class="fas fa-vial {{ toggle_colour(project.id, user_id) }}"></i>
            {% else %}
              <a title="You must be logged in to give tubes" href="{{ url_for("users.login") }}"><i user_id="{{ user_id }}" project_id="{{ project.id }}" class="fas fa-vial {{ toggle_colour(project.id, user_id) }}"></i></a>
            {% endif %}
            <span class="{{ toggle_colour(project.id, user_id) }}">{{ tube_count(project.id) }}</span>
          </div>
          <div class="six columns browse_author">
            <a title="{{ project.project_title }}" href="{{ url_for("projects.project", project_id = project.id) }}"><h5>{{ project.project_title }}</h5></a>
            {% if project.author.name %}
              <p>By <a title="{{ project.author.username }}" href="{{ url_for("users.user_projects", username = project.author.username) }}">{{ project.author.name }}</a></p>
            {% else %}
              <p>By <a title="{{ project.author.username }}" href="{{ url_for("users.user_projects", username = project.author.username) }}">{{ project.author.username }}</a></p>
            {% endif %}
            {% if project.date_edited != project.date_created %}
              <br><p>{{ project.date_edited.strftime("%B %-d, %Y") }}</p>
            {% else %}
              <br><p>{{ project.date_created.strftime("%B %-d, %Y") }}</p>
            {% endif %}
            <br>
            {% if project.author.fundraiser_id and project.donations_goal %}
              <div id="fundraiser_circle">
                {% if (((project.donations_amount / project.donations_goal) * 100) | int) > 100 %}
                  <div style="width:100%;border-radius:50%;" id="inner_circle"></div>
                {% else %}
                  <div style="width:{{ ((project.donations_amount / project.donations_goal) * 100) | int }}%" id="inner_circle"></div>
                {% endif %}
              </div>
              <span style="color:#46813A;font-size:14px;">{{ ((project.donations_amount / project.donations_goal) * 100) | int }}% funded</span>
            {% endif %}
          </div>
          <a title="{{ project.project_title }}" href="{{ url_for("projects.project", project_id = project.id) }}">
            <div style="background-image: url('/static/images/project_pics/{{ project.banner_image }}');" class="four columns browse_banner">
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
      <div class="twelve columns page_nums">
        {% for page_num in projects.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
          {% if page_num %}
            {% if projects.page == page_num %}
              <a id="current_page" href="{{ url_for("main.browse", page = page_num)}}">{{ page_num}}</a>
            {% else %}
              <a href="{{ url_for("main.browse", page = page_num)}}">{{ page_num}}</a>
            {% endif %}
          {% else %}
            ...
          {% endif %}
        {% endfor %}
      </div>


{% endblock body_content %}
