{% extends "layout_nav.html" %}
{% block body_content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="row">
    <div class="form six columns offset-by-three">
      <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset>
          <p id="form_title">{{ legend }}<p>
          <div>
            {{ form.project_title.label }}
            {% if form.project_title.errors %}
              {{ form.project_title(style="border-color:#f55f5f;") }}
              <div>
                {% for error in form.project_title.errors %}
                  <span id="error">{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.project_title }}
            {% endif %}
          </div>
          <div>
            {{ form.abstract.label }}
            {% if form.abstract.errors %}
              {{ form.abstract(style="border-color:#f55f5f;") }}
              <div>
                {% for error in form.abstract.errors %}
                  <span id="error">{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.abstract }}
            {% endif %}
          </div>
          <div>
            {{ form.tags.label }}
            {% if form.tags.errors %}
              {{ form.tags(style="border-color:#f55f5f;") }}
              <div>
                {% for error in form.tags.errors %}
                  <span id="error">{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.tags(placeholder="proteins, glucose, etc") }}
            {% endif %}
          </div>
          <div>
            {{ form.collaborators.label }}
            {% if form.collaborators.errors %}
              {{ form.collaborators(style="border-color:#f55f5f;") }}
              <div>
                {% for error in form.collaborators.errors %}
                  <span id="error">{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.collaborators(placeholder="user1, user2, etc") }}
            {% endif %}
          </div>
          <div>
            {{ form.banner_image.label }}
            {{ form.banner_image }}
          </div>
          <div>
              {% if form.banner_image.errors %}
                {% for error in form.banner_image.errors %}
                  <span id="error">{{ error }}</span>
                {% endfor %}
              {% endif %}
          </div>
        </fieldset>
        <div>
          {{ form.submit(title="Create your project") }}
        </div>
      </form>
    </div>
  </div>

{% endblock body_content %}
