{% extends "layout_nonav.html" %}
{% block body_content %}

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="title">
    <h1><a href="/">codon<img src="static/images/favicon.png"></a></h1>
  </div>
  <div class="hero">
    <img src="static/images/dna2.svg">
  </div>
  <div class="slogan">
    <h2>crowdfund science</h2>
  </div>
  <div class="row login_home">
    <div class="twelve columns">
      <a href="{{ url_for("main.browse") }}"><button>Browse</button></a>
      {% if current_user.is_authenticated %}
      {% else %}
      <p><a href="{{ url_for("users.login") }}" style="margin-top:20px;font-size:25px;color:#BF78E4;text-decoration:overline;">Login</a></p>
      {% endif %}
    </div>
  </div>

  <div class="blurb_box info_container">
    <div class="row">
      <div class="four columns">
        <img src="static/images/crowdfunding.svg">
        <p>CROWDFUNDED</p>
        <p class="blurb">Scientists are able to supplement their research through crowdfunded donations. Contributors can earn small rewards at the completion of a project, or can be a recognized contributor on any papers published.</p>
      </div>
      <div class="blurb_box four columns">
        <img src="static/images/vial.svg">
        <p>USER CURATED</p>
        <p class="blurb">Codon relies on the consensus of its users when determining the most useful and interesting projects. Users can give "tubes" to projects showcasing important and groundbreaking research initiatives.</p>
      </div>
      <div class="blurb_box four columns">
        <img src="static/images/vc.svg">
        <p>VERSION CONTROLLED</p>
        <p class="blurb"><b>Coming soon: </b> Codon will be version controlled so that all edits made on the platform will be saved. This makes it easy to fix mistakes view past work</p>
      </div>
    </div>
  </div>

  <div class="extra_links">
  <div class="row">
    <div class="twelve columns extra">
      <p>Please read our <a href="{{ url_for("main.about") }}">about</a> page for more information</p>
    </div>
  </div>
</div>

{% endblock body_content %}
