{% extends "layout_nav.html" %}
{% block body_content %}

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% if current_user == project.author %}
    <div class="remodal" data-remodal-id="modal">
      <button data-remodal-action="close" class="remodal-close"></button>
      <h1><b>DELETE</b>&nbsp;&nbsp;project?</h1>
      <p>
        Are you sure you want to delete this project?
      </p>
      <br>
      <!-- <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button> -->
      <form method="POST" action="" enctype="multipart/form-data">
        {{ delete_project_form.hidden_tag() }}
        <fieldset>
          <div class="update-form">
            <div>
              {{ delete_project_form.project_title.label }}
              {% if delete_project_form.project_title.errors %}
                {{ delete_project_form.project_title(style="border-color:#f55f5f;") }}
                <div>
                  {% for error in delete_project_form.project_title.errors %}
                    <span id="error">{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ delete_project_form.project_title }}
              {% endif %}
            </div>
            <div>
              {{ delete_project_form.email.label }}
              {% if delete_project_form.email.errors %}
                {{ delete_project_form.email(style="border-color:#f55f5f;") }}
                <div>
                  {% for error in delete_project_form.email.errors %}
                    <span id="error">{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ delete_project_form.email }}
              {% endif %}
            </div>
            <div>
              {{ delete_project_form.password.label }}
              {% if delete_project_form.password.errors %}
                {{ delete_project_form.password(style="border-color:#f55f5f;") }}
                <div>
                  {% for error in delete_project_form.password.errors %}
                    <span id="error">{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ delete_project_form.password(class="u-full-width") }}
              {% endif %}
            </div>
          </div>
        </fieldset>
          <div class="update-button">
            {{ delete_project_form.submit_delete }}
          </div>
      </form>
    </div>
  {% endif %}

    <div style="position: relative; height:600px; overflow:hidden; text-overflow: ellipsis;" class="twelve columns">
      <div style="background-image: url({{ project_pic }})" class="twelve columns project_banner">
      </div>
      <div class="project_header twelve columns">
        <h1><b>{{ project.project_title }}</b></h1>
      </div>
    </div>

  <div class="three columns abstract_bar">
    <a title="{{ project.author.username }}" href="{{ url_for("users.user_projects", username = project.author.username) }}"><img class="project_profile_pic" src="{{ profile_pic }}"></img></a>
    {% if project.author.name %}
      <a title="{{ project.author.username }}" href="{{ url_for("users.user_projects", username = project.author.username) }}"><h4><b>By {{ project.author.name }}</b>
        {% if project.author.verified != "False" %}
          &nbsp;<i style="color:#AD5DD6;"class="fas fa-check-circle"></i>
        {% endif %}
      </h4></a>
      <b>Username:</b> {{ project.author.username }}
    {% else %}
      <a title="{{ project.author.username }}" href="{{ url_for("users.user_projects", username = project.author.username) }}"><h4><b>By {{ project.author.username }}</b>
        {% if project.author.verified != "False" %}
          &nbsp;<i style="color:#AD5DD6;"class="fas fa-check-circle"></i>
        {% endif %}
      </h4></a>
    {% endif %}
    {% if project.author.organization %}
      <b>Organization:</b> {{ project.author.organization }}
    {% endif %}
    {% if collabs != [""] %}
      <br><br>
      <b>Collaborators:</b>
      {% for collab in collabs %}
        <a title="{{ collab }}" href="{{ url_for("users.user_projects", username = collab) }}">{{ collab }}</a> |
      {% endfor %}
    {% endif %}
    <br>
    {% if project.author == current_user or current_user.username in collabs %}
      <a title="Create a new article for this project" href="{{ url_for("articles.new_article", project_id = project.id) }}" <i class="fas fa-file-medical new_file"></i></a>
    {% endif %}
    <small>Created: {{ project.date_created.strftime("%B %-d, %Y") }}</small>
    <small>Last edited: {{ project.date_edited.strftime("%B %-d, %Y") }}</small>
    <br>
    {% if current_user.is_authenticated %}
      <i title="Give a tube to '{{ project.project_title }}'" user_id="{{ user_id }}" project_id="{{ project.id }}" class="fas fa-vial {{ toggle_colour(project.id, user_id) }}"></i>
    {% else %}
      <a title="You must be logged in to give tubes" href="{{ url_for("users.login") }}"><i user_id="{{ user_id }}" project_id="{{ project.id }}" class="fas fa-vial {{ toggle_colour(project.id, user_id) }}"></i></a>
    {% endif %}
    <span class="{{ toggle_colour(project.id, user_id) }}">{{ tube_count(project.id) }}</span>
    <br>
    {% if project.donations_goal and project.author.fundraiser_id %}
      <span style="color:#46813A;font-size:20px;">{{ funding_perc }}% of funding goal reached</span>
      <div id="funding_bar">
        {% if funding_perc > 100 %}
          <div style="width:100%;border-radius:20px;" id="inner_bar"></div>
        {% else %}
          <div style="width:{{ funding_perc }}%" id="inner_bar"></div>
        {% endif %}
      </div>
      <span style="color:#46813A;font-size:30px;">${{ amount }} contributed</span>
      <br>
      <span>of ${{ goal }} goal</span>
      <br>
      <a title="Donate to '{{ project.project_title }}'" href="{{ url_for("payments.donate", project_id = project.id) }}"><button>Donate</button></a>
    {% endif %}
    <hr>
    <p>{{ project.abstract }}</p>
    <hr>
    <span>Tags:
      {% for tag in project_tags %}
        <a title="Explore more projects in '{{ tag.tag }}'" class="tag_links" href="{{ url_for("main.search", search_query = tag.tag, search_type = "tag_search") }}">{{ tag.tag }}</a>
      {% endfor %}
    </span>
    <br>
    {% if project.author == current_user %}
        <a title="Edit '{{ project.project_title }}'" href="{{ url_for("projects.update_project", project_id = project.id) }}"><button id="edit">Edit</button></a>
        <a title="Delete '{{ project.project_title }}'" href="#modal"><button id="delete">Delete</button></a>
    {% endif %}
  </div>

<div class="seven columns article_container">
  {% if articles_intro %}
      <div class="twelve columns article_wrapper">
        <div class="row">
          <div class="project_heading six columns">
            <h3><b>Introduction</b></h3>
          </div>
        </div>
        {% for article in articles_intro %}
          <div class="five columns article_post">
            <div class="twelve columns">
              <div style="overflow: hidden; height: 100px">
                <a title="{{ article.title }}" href="{{ url_for("articles.article", article_id = article.id, project_id = project.id) }}"><h6>{{ article.title }}</h6></a>
              </div>
              {% if article.edited_by %}
                <a title="{{ article.edited_by }}" href="{{ url_for("users.user_projects", username = article.edited_by) }}"><span>Edited by: {{ article.edited_by }}</span></a>
              {% else %}
                <a title="{{ article.author.username }}" href="{{ url_for("users.user_projects", username = article.author.username) }}"><span>Created by: {{ article.author.username }}</span></a>
              {% endif %}
                <span>{{ article.date_edited.strftime("%B %-d, %Y") }}</span>
              <hr class="hr_project">
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if articles_main %}
      <div class="twelve columns article_wrapper">
        <div class="row">
          <div class="project_heading six columns">
            <h3><b>Main</b></h3>
          </div>
        </div>
        {% for article in articles_main %}
          <div class="five columns article_post">
            <div class="twelve columns">
              <div style="overflow: hidden; height: 100px">
                <a title="{{ article.title }}" href="{{ url_for("articles.article", article_id = article.id, project_id = project.id) }}"><h6>{{ article.title }}</h6></a>
              </div>
              {% if article.edited_by %}
                <a title="{{ article.edited_by }}" href="{{ url_for("users.user_projects", username = article.edited_by) }}"><span>Edited by: {{ article.edited_by }}</span></a>
              {% else %}
                <a title="{{ article.author.username }}" href="{{ url_for("users.user_projects", username = article.author.username) }}"><span>Created by: {{ article.author.username }}</span></a>
              {% endif %}
                <span>{{ article.date_edited.strftime("%B %-d, %Y") }}</span>
              <hr class="hr_project">
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if articles_resources %}
      <div class="twelve columns article_wrapper">
        <div class="row">
          <div class="project_heading six columns">
            <h3><b>Resources</b></h3>
          </div>
        </div>
        {% for article in articles_resources %}
          <div class="five columns article_post">
            <div class="twelve columns">
              <div style="overflow: hidden; height: 100px">
                <a title="{{ article.title }}" href="{{ url_for("articles.article", article_id = article.id, project_id = project.id) }}"><h6>{{ article.title }}</h6></a>
              </div>
                {% if article.edited_by %}
                  <a title="{{ article.edited_by }}" href="{{ url_for("users.user_projects", username = article.edited_by) }}"><span>Edited by: {{ article.edited_by }}</span></a>
                {% else %}
                  <a title="{{ article.author.username }}" href="{{ url_for("users.user_projects", username = article.author.username) }}"><span>Created by: {{ article.author.username }}</span></a>
                {% endif %}
                <span>{{ article.date_edited.strftime("%B %-d, %Y") }}</span>
              <hr class="hr_project">
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if articles_misc %}
      <div class="twelve columns article_wrapper">
        <div class="row">
          <div class="project_heading six columns">
            <h3><b>Miscellaneous</b></h3>
          </div>
        </div>
        {% for article in articles_misc %}
          <div class="five columns article_post">
            <div class="twelve columns">
              <div style="overflow: hidden; height: 100px">
                <a title="{{ article.title }}" href="{{ url_for("articles.article", article_id = article.id, project_id = project.id) }}"><h6>{{ article.title }}</h6></a>
              </div>
              {% if article.edited_by %}
                <a title="{{ article.edited_by }}" href="{{ url_for("users.user_projects", username = article.edited_by) }}"><span>Edited by: {{ article.edited_by }}</span></a>
              {% else %}
                <a title="{{ article.author.username }}" href="{{ url_for("users.user_projects", username = article.author.username) }}"><span>Created by: {{ article.author.username }}</span></a>
              {% endif %}
                <span>{{ article.date_edited.strftime("%B %-d, %Y") }}</span>
              <hr class="hr_project">
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if articles_ref %}
      <div class="twelve columns article_wrapper">
        <div class="row">
          <div class="project_heading six columns">
            <h3><b>refellaneous</b></h3>
          </div>
        </div>
        {% for article in articles_ref %}
          <div class="five columns article_post">
            <div class="twelve columns">
              <div style="overflow: hidden; height: 100px">
                <a title="{{ article.title }}" href="{{ url_for("articles.article", article_id = article.id, project_id = project.id) }}"><h6>{{ article.title }}</h6></a>
              </div>
              {% if article.edited_by %}
                <a title="{{ article.edited_by }}" href="{{ url_for("users.user_projects", username = article.edited_by) }}"><span>Edited by: {{ article.edited_by }}</span></a>
              {% else %}
                <a title="{{ article.author.username }}" href="{{ url_for("users.user_projects", username = article.author.username) }}"><span>Created by: {{ article.author.username }}</span></a>
              {% endif %}
                <span>{{ article.date_edited.strftime("%B %-d, %Y") }}</span>
              <hr class="hr_project">
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>


{% endblock body_content %}
