{% extends "layout_nav.html" %}
{% block body_content %}

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="remodal" data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1><b>DELETE</b>&nbsp;&nbsp;project?</h1>
    <p>
      Are you sure you want to delete this project?
    </p>
    <br>
    <!-- <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button> -->
    <form action="{{ url_for("projects.delete_project", project_id = project.id) }}", method="POST">
      <input class="remodal-confirm" type="submit" value="DELETE">
    </form>
  </div>

    <div style="position: relative; height:600px; overflow:hidden; text-overflow: ellipsis;" class="twelve columns">
      <div style="background-image: url({{ project_pic }})" class="twelve columns project_banner">
      </div>
      <div class="project_header twelve columns">
        <h1><b>{{ project.project_title }}</b></h1>
      </div>
    </div>
  <div class="three columns abstract_bar">
    <a href="{{ url_for("users.user_projects", username = project.author.username) }}"><img class="project_profile_pic" src="{{ profile_pic }}"></img></a>
    {% if project.author.name %}
      <a href="{{ url_for("users.user_projects", username = project.author.username) }}"><h4><b>By {{ project.author.name }}</b></h4></a>
    {% else %}
      <a href="{{ url_for("users.user_projects", username = project.author.username) }}"><h4><b>By {{ project.author.username }}</b></h4></a>
    {% endif %}
    {% if collabs != [""] %}
      Collaborators:
      {% for collab in collabs %}
        <a href="{{ url_for("users.user_projects", username = collab) }}">{{ collab }}</a> |
      {% endfor %}
    {% endif %}
    <br>
    {% if project.author == current_user or current_user.username in collabs %}
      <a href="{{ url_for("articles.new_article", project_id = project.id) }}" <i class="fas fa-file-medical new_file"></i></a>
    {% endif %}
    <small>Created: {{ project.date_created.strftime("%B %-d, %Y") }}</small>
    {% if project.date_edited != project.date_created %}
      <small>Last edited: {{ project.date_edited.strftime("%B %-d, %Y") }}</small>
    {% endif %}
    <i class="fas fa-vial tubes"></i>
    <span>45</span>
    <hr>
    <p>{{ project.abstract }}</p>
    <hr>
    <span>Tags:
      {% for tag in project_tags %}
        <a class="tag_links" href="{{ url_for("main.search", search_query = tag.tag, search_type = "tag_search") }}">{{ tag.tag }}</a>
      {% endfor %}
    </span>
    <br>
    {% if project.author == current_user %}
        <a href="{{ url_for("projects.update_project", project_id = project.id) }}"><button id="edit">Edit</button></a>
        <a href="#modal"><button id="delete">Delete</button></a>
    {% endif %}
  </div>

<div class="seven columns article_container">
  {% if articles_intro %}
      <div class="twelve columns article_wrapper">
        <div class="row">
          <div class="project_heading six columns">
            <h3><b>Introduction</b></h3>
          </div>
        </div>
        {% for article in articles_intro %}
          <div class="five columns article_post">
            <div class="twelve columns">
              <div style="overflow: hidden; height: 100px">
                <a href="{{ url_for("articles.article", article_id = article.id, project_id = project.id) }}"><h6>{{ article.title }}</h6></a>
              </div>
                {% if article.edited_by %}
                  <span>Edited by: {{ article.edited_by }}</span>
                {% else %}
                  <span>Created by: {{ article.author.username }}</span>
                {% endif %}
                <span>{{ article.date_edited.strftime("%B %-d, %Y") }}</span>
              <hr class="hr_project">
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if articles_main %}
      <div class="twelve columns article_wrapper">
        <div class="row">
          <div class="project_heading six columns">
            <h3><b>Main</b></h3>
          </div>
        </div>
        {% for article in articles_main %}
          <div class="five columns article_post">
            <div class="twelve columns">
              <div style="overflow: hidden; height: 100px">
                <a href="{{ url_for("articles.article", article_id = article.id, project_id = project.id) }}"><h6>{{ article.title }}</h6></a>
              </div>
                {% if article.edited_by %}
                  <span>Edited by: {{ article.edited_by }}</span>
                {% else %}
                  <span>Created by: {{ article.author.username }}</span>
                {% endif %}
                <span>{{ article.date_edited.strftime("%B %-d, %Y") }}</span>
              <hr class="hr_project">
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if articles_resources %}
      <div class="twelve columns article_wrapper">
        <div class="row">
          <div class="project_heading six columns">
            <h3><b>Resources</b></h3>
          </div>
        </div>
        {% for article in articles_resources %}
          <div class="five columns article_post">
            <div class="twelve columns">
              <div style="overflow: hidden; height: 100px">
                <a href="{{ url_for("articles.article", article_id = article.id, project_id = project.id) }}"><h6>{{ article.title }}</h6></a>
              </div>
                {% if article.edited_by %}
                  <span>Edited by: {{ article.edited_by }}</span>
                {% else %}
                  <span>Created by: {{ article.author.username }}</span>
                {% endif %}
                <span>{{ article.date_edited.strftime("%B %-d, %Y") }}</span>
              <hr class="hr_project">
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if articles_misc %}
      <div class="twelve columns article_wrapper">
        <div class="row">
          <div class="project_heading six columns">
            <h3><b>Miscellaneous</b></h3>
          </div>
        </div>
        {% for article in articles_misc %}
          <div class="five columns article_post">
            <div class="twelve columns">
              <div style="overflow: hidden; height: 100px">
                <a href="{{ url_for("articles.article", article_id = article.id, project_id = project.id) }}"><h6>{{ article.title }}</h6></a>
              </div>
                {% if article.edited_by %}
                  <span>Edited by: {{ article.edited_by }}</span>
                {% else %}
                  <span>Created by: {{ article.author.username }}</span>
                {% endif %}
                <span>{{ article.date_edited.strftime("%B %-d, %Y") }}</span>
              <hr class="hr_project">
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>


{% endblock body_content %}
