<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% extends "layout_nonav.html" %}
    {% block body_content %}
    <div class="row">
      <div class="form six columns offset-by-three">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset>
            <p id="form_title">Reset your password<p>
            <div>
              {{ form.email.label }}
              {% if form.email.errors %}
                {{ form.email(style="border-color:#f55f5f;") }}
                <div>
                  {% for error in form.email.errors %}
                    <span id="error">{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.email(class="u-full-width") }}
              {% endif %}
            </div>
          </fieldset>
          <div>
            {{ form.submit(title="Request a password reset") }}
          </div>
          <div>
            <small>Need an account? <a title="Register for codon" href="{{ url_for("users.register") }}">Register</a></small>
          </div>
        </form>
      </div>
    </div>

{% endblock body_content %}
