{% extends "layout_nav.html" %}
{% block body_content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="three columns search_type">
  <p>Search type:</p>
  <a title="Search for projects" href="{{ url_for("main.search", search_type = "project_search", search_query = search_query) }}">Projects</a><br><br>
  <a title="Search for articles" id="selected_search"  href="{{ url_for("main.search", search_type = "article_search", search_query = search_query) }}">Articles</a><br><br>
  <a title="Search for users" href="{{ url_for("main.search", search_type = "user_search", search_query = search_query) }}">Users</a><br><br>
  <a title="Search for projects by tag" href="{{ url_for("main.search", search_type = "tag_search", search_query = search_query) }}">Tags</a><br>
  <div style="padding-left:30px;">
    <span style="color:grey">Search for a specific project tag</span>
  </div>
</div>

<div class="seven columns offset-by-four">
  <div style="margin-top:30px; margin-left: 30px;" class="twelve columns">
    <h2>{{ count }}
      {% if count == 1%}
        article found for article search
      {% else %}
        articles found for article search
      {% endif %}
    </h2>
  </div>
  {% for article in articles.items %}
    <div class="twelve columns browse_project">
      <div class="six columns browse_author">
        <b>Project: </b><a href="{{ url_for("projects.project", project_id = article.project_id) }}"><p>{{ article.overall_project.project_title }}</p></a>
        <a title="{{ article.title }}" href="{{ url_for("articles.article", article_id = article.id, project_id = article.project_id) }}"><h5>{{ article.title }}</h5></a>
        {% if article.author.name %}
          <p>By <a title="{{ article.author.username }}" href="{{ url_for("users.user_projects", username = article.author.username) }}">{{ article.author.name }}</a></p>
        {% else %}
          <p>By <a title="{{ article.author.username }}" href="{{ url_for("users.user_projects", username = article.author.username) }}">{{ article.author.username }}</a></p>
        {% endif %}
          <br><p>{{ article.date_edited.strftime("%B %-d, %Y") }}</p>
      </div>
    </div>
  {% endfor %}
</div>
<div class="twelve columns page_nums">
  {% for page_num in articles.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
    {% if page_num %}
      {% if articles.page == page_num %}
        <a id="current_page" href="{{ url_for("main.browse", page = page_num)}}">{{ page_num}}</a>
      {% else %}
        <a href="{{ url_for("main.browse", page = page_num)}}">{{ page_num}}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
</div>


{% endblock body_content %}
