{% extends "layout_nav.html" %}
{% block body_content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="three columns search_type">
  <p>Search type:</p>
  <a href="{{ url_for("main.search", search_type = "project_search", search_query = search_query) }}">Projects</a><br><br>
  <a href="{{ url_for("main.search", search_type = "article_search", search_query = search_query) }}">Articles</a><br><br>
  <a id="selected_search" href="{{ url_for("main.search", search_type = "user_search", search_query = search_query) }}">Users</a><br><br>
  <a href="{{ url_for("main.search", search_type = "tag_search", search_query = search_query) }}">Tags</a><br>
  <div style="padding-left:30px;">
    <span style="color:grey">Search for a specific project tag</span>
  </div>
</div>

{% for user in users.items %}
  <div class="seven columns offset-by-five browse_project">
    <div class="one columns search_image">
      <a href="{{ url_for("users.user_projects", username = user.username) }}"><img src="{{ url_for("static", filename = "images/profile_pics/" + user.image_file) }}"></a>
    </div>
    <div class="six columns offset-by-one browse_author">
      {% if user.name %}
        <h5><a href="{{ url_for("users.user_projects", username = user.username) }}">{{ user.name }}</a></h5>
        <p>({{ user.username }})</p>
      {% else %}
        <h5><a href="{{ url_for("users.user_projects", username = user.username) }}">{{ user.username }}</a></h5>
      {% endif %}
    </div>
  </div>
{% endfor %}
<div class="twelve columns page_nums">
  {% for page_num in users.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
    {% if page_num %}
      {% if users.page == page_num %}
        <a id="current_page" href="{{ url_for("main.browse", page = page_num)}}">{{ page_num}}</a>
      {% else %}
        <a href="{{ url_for("main.browse", page = page_num)}}">{{ page_num}}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
</div>


{% endblock body_content %}
