{% extends "layout_nav.html" %}
{% block body_content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="three columns search_type">
  <p>Search type:</p>
  <a title="Search for projects" href="{{ url_for("main.search", search_type = "project_search", search_query = search_query) }}">Projects</a><br><br>
  <a title="Search for articles" href="{{ url_for("main.search", search_type = "article_search", search_query = search_query) }}">Articles</a><br><br>
  <a title="Search for users" href="{{ url_for("main.search", search_type = "user_search", search_query = search_query) }}">Users</a><br><br>
  <a title="Search for projects by tag" id="selected_search" href="{{ url_for("main.search", search_type = "tag_search", search_query = search_query) }}">Tags</a><br><br>
  <div style="padding-left:30px;">
    <span style="color:grey">Search for a specific project tag</span>
  </div>
</div>

<div class="seven columns offset-by-four">
  <div style="margin-top:30px; margin-left: 30px;" class="twelve columns">
    <h2>{{ count }}
      {% if count == 1%}
        project found for tag search
      {% else %}
        projects found for tag search
      {% endif %}
    </h2>
  </div>
  {% for tag in tags.items %}
    <div class="twelve columns browse_project">
      <div class="one column vials">
        {% if current_user.is_authenticated %}
          <i user_id="{{ user_id }}" project_id="{{ tag.project_id }}" class="fas fa-vial {{ toggle_colour(tag.project_id, user_id) }}"></i>
        {% else %}
          <a href="{{ url_for("users.login") }}"><i user_id="{{ user_id }}" project_id="{{ tag.project_id }}" class="fas fa-vial {{ toggle_colour(tag.project_id, user_id) }}"></i></a>
        {% endif %}
        <span class="{{ toggle_colour(tag.project_id, user_id) }}">{{ tube_count(tag.project_id) }}</span>
      </div>
      <div class="six columns browse_author">
        <a href="{{ url_for("projects.project", project_id = tag.project_id) }}"><h5>{{ tag.overall_project.project_title }}</h5></a>
        {% if tag.overall_project.author.name %}
          <p>By <a href="{{ url_for("users.user_projects", username = tag.overall_project.author.username) }}">{{ tag.overall_project.author.name }}</a>
            {% if project.author.verified != "False" %}
              &nbsp;<i style="color:#AD5DD6;"class="fas fa-check-circle"></i>
            {% endif %}
          </p>
        {% else %}
          <p>By <a href="{{ url_for("users.user_projects", username = tag.overall_project.author.username) }}">{{ tag.overall_project.author.username }}</a>
            {% if project.author.verified != "False" %}
              &nbsp;<i style="color:#AD5DD6;"class="fas fa-check-circle"></i>
            {% endif %}
          </p>
        {% endif %}
          <br><p>{{ tag.overall_project.date_created.strftime("%B %-d, %Y") }}</p>
          <br>
          {% if tag.overall_project.author.fundraiser_id and tag.overall_project.donations_goal %}
            <div id="fundraiser_circle">
              {% if (((tag.overall_project.donations_amount / tag.overall_project.donations_goal) * 100) | int) > 100 %}
                <div style="width:100%;border-radius:50%;" id="inner_circle"></div>
              {% else %}
                <div style="width:{{ ((tag.overall_project.donations_amount / tag.overall_project.donations_goal) * 100) | int }}%" id="inner_circle"></div>
              {% endif %}
            </div>
            <span style="color:#46813A;font-size:14px;">{{ ((tag.overall_project.donations_amount / tag.overall_project.donations_goal) * 100) | int }}% funded</span>
          {% endif %}
      </div>
      <a href="{{ url_for("projects.project", project_id = tag.project_id) }}">
        <div style="background-image: url('/static/images/project_pics/{{ tag.overall_project.banner_image }}');" class="four columns browse_banner">
        </div>
      </a>
    </div>
  {% endfor %}
</div>
<div class="twelve columns page_nums">
  {% for page_num in tags.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
    {% if page_num %}
      {% if tags.page == page_num %}
        <a id="current_page" href="{{ url_for("main.browse", page = page_num)}}">{{ page_num}}</a>
      {% else %}
        <a href="{{ url_for("main.browse", page = page_num)}}">{{ page_num}}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
</div>


{% endblock body_content %}
