* {
  font-family: Raleway
}

body, html {
  height: 100%;
}

a {
  text-decoration: none;
  color: #7A1EA9;
}

a:hover {
  color: black;
}

.wrapper {
  min-height: 100%;
}

.alert {
  color: #3769B8;
  font-size: 20px;
  text-align: center;
  margin: auto;
  margin-top: 60vh;
  border-radius: 5px;
  background-color: #D4DCEA;
  border-style: solid;
  border-color: #3769B8;
  border-width: 0.5px;
  position: fixed;
  z-index: 1000;
  opacity: 0.9;
}

.alert {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

.title h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 90px;
}

.title img {
  height: 65px;
  margin-left: 30px;
}

.title a {
  color: black;
}

@media only screen and (max-width: 600px) {
    .title img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 60px;
    };
}

.hero img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    .hero img {
    width: 100%;
    }
}

.login_home {
  text-align: center;
  font-weight: lighter;
  font-size: 40px;
}

.login_home h2 {
  margin-top: -50px;
}

.login_home button {
  text-align: center;
  background-color: #c4c1b9;
  border: none;
  font-size: 40px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 20px 80px rgba(191,120,228,0.6);
}

.login_home button:hover {
  background-color: #b2aea4;
}


.slogan {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.info_container {
  height: auto;
  background-color: #BF78E4;
  margin-top: 70px;
  color: white;
  box-shadow: 0px 20px 70px black;
}

.info_container img {
  height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px
}


.info_container p {
  color: white;
  font-size: 2vw;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 5px;
}

@media only screen and (max-width: 600px) {
    .info_container p {
    font-size: 8vw;
    }
}

.info_container hr {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  border: solid;
  border-width: 1px;
}

.info_container .blurb {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.extra_links {
  background: whitesmoke;
  padding-top: 100px;
}

.extra {
  margin-bottom: 30px;
}

.extra_links p {
  text-align: center;
  color: black;
  font-size: 30px;
}

.extra_links img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

footer {
  position: relative;
  clear: both;
}

footer .copyright {
  margin-left: 30px;
  font-size: 18px;
}

footer a:hover {
  color: #B1327A;
}

footer .footer_links {
  font-size: 18px;
  text-align: center;
  color: black;
}

footer .footer_links a {
  color: black;
}

@media only screen and (max-width: 600px) {
    footer .copyright {
    text-align: center;
    margin-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .social {
      float: none;
      text-align: center;
      margin-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .social img{
      float: none;
      text-align: center;
      margin-right: 30px;
      margin-left: 30px;
    }
}

footer img {
  width: 25px;
  margin-right: 30px;
  float: right;
}

.subpage_logo h2 {
  margin-left: 50px;
  font-size: 70px;
}

.subpage_logo a {
  color: black;
}

.subpage_logo img {
  width: 50px;
  margin-left: 20px;
  margin-top: 50px;
}

.subpage_logo h3 {
  float: right;
  margin-top: 55px;
  margin-right: 200px;
}

@media only screen and (max-width: 600px) {
    .subpage_logo h2 {
    text-align: center;
    margin-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .subpage_logo h3 {
    text-align: center;
    margin-right: 0px;
    float: none;
    margin-top: 10px;
    }
}

.contents {
  margin-left: 50px;
  margin-top: 50px;
}

.contents li {
  margin-left: 30px;
  font-size: 18px;
  color: #7A1EA9;
  list-style: disc;
}

.contents li:hover {
  color: black;
}

.contents a:hover {
  color: black;
  text-decoration: overline;
}

.nav_bar {
  background-color: white;
  box-shadow: 0px 5px 5px white;
  position: relative;
}

.nav_img img {
  height: 35px;
  margin-top: 15px;
  margin-left: 4%;
  margin-bottom: 5px;
}

.nav_bar .actions {
  font-size: 25px;
  color: grey;
  right: 150px;
  margin-top: 20px;
  position: absolute;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .nav_bar .actions {
      right: 80px;
    };
}

.user_img {
  border-radius: 50%;
  position: absolute;
  right: 75px;
  border: solid 2px;
  border-color: grey;
  height: 30px;
  margin-top: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .user_img {
      right: 30px;
    };
}

.user_img:hover {
  border-color: #BF78E4;
}

.fa-user-circle {
  position: absolute;
  right: 75px !important;
}

@media only screen and (max-width: 600px) {
    .fa-user-circle {
      right: 30px !important;
    };
}

.nav_bar .actions:hover {
  color: #BF78E4;
}

.nav_bar .dropdown {
  position: absolute;
  z-index: 1200;
  float: right;
  background-color: white;
  padding: 20px;
  right: 3%;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

.nav_bar .plus_circle, .account_circle {
  margin-top: 28px;
  color: #BF78E4;
  font-size: 10px;
}

.nav_bar .plus_circle {
  right: 190px;
  position: absolute;
  display: none;
}

@media only screen and (max-width: 600px) {
    .nav_bar .plus_circle {
      right: 110px;
    };
}

.nav_bar .account_circle {
  right: 50px;
  position: absolute;
  display: none;
}

@media only screen and (max-width: 600px) {
    .nav_bar .account_circle {
      right: 10px;
    };
}

.nav_bar a {
  color: #BF78E4;
}

.search_form {
  position: absolute;
  margin-left: 20vw;
  display: inline;
  margin-top: 13px;
}

@media only screen and (max-width: 680px) {
    .search_form {
      margin-left: 10vw;
    };
}

.search_form input {
  width: 40vw !important;
  background-color: #efefef !important;
  border: none !important;
}

.profile {
  background-color: white;
  border-radius: 5px;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.profile h1 {
  font-size: 40px;
  margin-bottom: 40px;
  margin-left: 50px;
  padding-top: 10px;
}

@media only screen and (max-width: 600px) {
    .profile h1 {
    text-align: center;
    margin-left: 0px;
    }
}

.profile img {
  height: 70px;
  border-radius: 50%;
  margin: auto;
  display: block;
  margin-bottom: 40px;
}

.profile p {
  font-size: 18px;
}

#sign_out_button p {
  background-color: #BF78E4;
  width: 90px;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

#sign_out_button a {
  color: whitesmoke;
}

#sign_out_button p:hover {
  background-color: #9C45C9;
}

.form {
  margin-top: 40px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 40px;
}

.form form {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="name"],
textarea {
  width: 80%;
}

.form p {
  font-size: 30px;
}

.form #submit {
  background-color: #BF78E4;
  color: whitesmoke;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.form #submit:hover {
  background-color: #9C45C9;
}

.form-check-label {
  display: inline;
  margin-left: 10px;
}

.form label {
  font-size: 18px;
  margin-top: 20px;
  font-weight: normal;
}

.form small {
  font-size: 14px;
}

.form #error {
  color: #f55f5f;
}

textarea {
  resize: vertical;
}

.browse_project {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 30px;
  margin-right: 50px;
}

.browse_project p {
  font-size: 17px;
  color: grey;
  display: inline;
}

.browse_project a {
  color: black;
}

.browse_project a:hover {
  color: #7A1EA9;
}

.browse_row {
  margin-right: 30px;
  margin-left: 30px;
}

.browse_banner {
  width: 100px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -29px;
  margin-bottom: -30px;
}

.browse_banner:hover {
  -webkit-filter: brightness(70%);
}

@media only screen and (max-width: 600px) {
    .browse_banner {
      margin-top: 30px;
      margin-bottom: 30px;
    };
}

.fa-vial {
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 20px;
  color: lightgrey;
  cursor: pointer;
}

.coloured {
  color: #BF78E4 !important;
  border-color: #BF78E4;
}

.fa-vial:hover {
    color: #BF78E4;
}

.vials {
  font-size: 20px;
  color: lightgrey;
}

@media only screen and (max-width: 600px) {
    .vials span {
      margin-left: 20px;
    };
}

.trending_bar {
  position: fixed;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 30px;
  margin-right:
}

@media only screen and (max-width: 600px) {
    .trending_bar {
      position: static
    };
}

.article_contents {
  background-color: white;
  margin-top: 70px;
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
}

.article_contents hr {
  border-width: 2px;
  border-style: solid;
  border-color: whitesmoke;
}

.inner_contents {
  padding: 50px;
}

@media only screen and (max-width: 600px) {
    .article_title {
      text-align: center;
    };
}

@media only screen and (max-width: 600px) {
    .article_contents {
      margin-right: 0px;
      margin-left: 0px;
    };
}

@media only screen and (max-width: 600px) {
    .inner_contents {
      padding: 10px;
    };
}

.article_author {
  font-size: 17px;
}

@media only screen and (max-width: 600px) {
    .article_author {
      text-align: center;
      margin-top: 20px;
    };
}

.article_author p {
  margin-bottom: 5px;
  display: inline;
}

.article_author #date {
  color: grey;
}

.article_author #username {
  color: grey;
}

@media only screen and (max-width: 900px) {
    .author_pic {
      margin-right: 50px;
    };
}

@media only screen and (max-width: 900px) {
    .article_author {
      margin-left: 0px !important;
    };
}

.author_pic img {
  height: 60px;
  margin: auto;
  display: block;
  border-radius: 50%;
  margin-right: -60px;
}

@media only screen and (max-width: 600px) {
    .author_pic img {
      margin-right: auto;
      margin-top: 40px;
      margin-left: auto;
    };
}

.article_body {
  font-size: 18px;
  margin-top: 20px;
}

.article_contents button {
  margin-right: 20px;
  cursor: pointer;
  border: 5px;
  border-radius: 5px;
  background-color: whitesmoke;
}

@media only screen and (max-width: 600px) {
    .article_contents button {
      margin-left: 20px;
    };
}

.article_contents #delete:hover {
  background-color: #e57373;
}

.article_contents #edit:hover {
  background-color: #BF78E4;
}

#disqus_thread {
  padding: 50px;
}

@media only screen and (max-width: 600px) {
    #disqus_thread {
      padding: 10px;
    };
}

.page_nums {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 17px;

}

.page_nums a {
  margin-left: 20px;
  color: grey;
}

.page_nums #current_page {
  border-style: solid;
  border-color: #7A1EA9;
  border-width: 1px;
  padding: 8px;
  color: #7A1EA9;
}

.project_banner {
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
   -webkit-filter: brightness(70%);
   margin-bottom: 40px;
}

.project_header {
  color: white;
  position: absolute;
  z-index: 600;
  text-align: center;
  margin-top: 30px;
  padding: 50px;
}

@media only screen and (max-width: 600px) {
    .project_header {
      padding-left: 30px;
    };
}

.project_heading {
  margin-top: 40px;
  padding-left: 30px;
}

.tag_links {
  border-style: solid;
  border-color: lightgrey;
  background-color: lightgrey;
  padding: 2px;
  color: grey;
  margin-top: 5px;
  display: inline-block;
}

.tag_links:hover {
  background-color: #BF78E4;
  color: white;
  border-color: #BF78E4;
}

.article_container {
  margin-top: 30px;
}

.article_wrapper {
  margin-bottom: 50px;
  background-color: white;
  border-radius: 5px;
}

.article_post {
  background-color: white;
  padding: 30px;
  height: 200px;
  box-shadow: 5px 5px 5px white;
  margin-bottom: 20px;
}

.article_post a {
  color: black;
}

.article_post h6 {
  font-size: 20px;
}

.article_post a:hover {
  color: #BF78E4;
}

.article_post span {
  color: grey;
  display: block;
}

.hr_project {
  width: 100%;
  border-style: solid;
  color: #AD5DD6;
  position: relative;
}

.abstract_bar {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.project_profile_pic {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}

.abstract_bar h4 {
  text-align: center;
  margin-top: 30px;
  color: black;
}

.abstract_bar small{
  text-align: center;
  display: block;
  font-size: 14px;
}

.abstract_bar span {
  font-size: 18px;
  color: gray;
  margin-top: 30px;
}

.abstract_bar .tubes {
  margin-top: 30px;
}

.abstract_bar button {
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  border: 5px;
  border-radius: 5px;
  background-color: whitesmoke;
  margin-top: 30px;
}

.abstract_bar #delete:hover {
  background-color: #e57373;
}

.abstract_bar #edit:hover {
  background-color: #BF78E4;
}

.abstract_bar hr {
  border-style: solid;
  width: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.abstract_bar p {
  font-size: 16px;
}

.abstract_bar .new_file {
  color: #BF78E4;
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.search_type {
  position: fixed;
  margin-top: 30px;
  display: block;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .search_type {
      position: static;
    };
}

.search_type a {
  color: black;
  padding-left: 30px;
  font-size: 20px;
  padding-right: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search_type a:hover {
  color: #BF78E4;
}

#selected_search {
  color: #BF78E4;
  background-color: whitesmoke;
  border-right-style: solid;
}

.search_type p {
  font-size: 25px;
}

.search_image img {
  border-radius: 50%;
  height: 100px;
}

.about_bar {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
    .about_bar {
      position: static
    };
}

.about_bar img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 100px;
}

.about_bar h3 {
  padding-top: 30px;
  text-align: center;
}

.about_bar h6 {
  font-size: 20px;
  text-align: center;
}
